In [1]:
import numpy as np
import csv
import pandas as pd
from pathlib import Path

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame

df= pd.read_csv(r'C:\Users\dkrenn\Desktop\GW-Bootcamp-Final-Project\Data Analysis\Resources\cleaned_data.csv')
df.head()

,Unnamed: 0,ID,AreaName,VicAge,VicSex,VicRace,StatusCode,Lat,Lon,CrimeType,AgeGroup,AddressType,Arrest
0,0,190326475,Wilshire,999,M,Multiracial,AA,34.0375,-118.3506,Theft,Unknown,Public Space,Yes
1,1,200106753,Central,47,M,Multiracial,IC,34.0444,-118.2628,Theft,40-54,Public Space,No
2,2,200320258,Southwest,19,NaN,,IC,34.0210,-118.3002,Theft,Young Adult,Residential,No
3,3,200907217,Van Nuys,19,M,Multiracial,IC,34.1576,-118.4387,Theft,Young Adult,Buisness,No
4,4,220614831,Hollywood,28,M,Hispanic,IC,34.0944,-118.3277,Theft,25-39,Public Space,No

In [3]:
# Determine List Length
len(df)

883987

In [36]:
# Area Frequency Percentages
area= df.groupby(["AreaName"])
area_df=area.count()
area_df["ID"]=883987
area_df= area_df[["ID", "VicAge"]]
area_df["Area Percentage"]=area_df["VicAge"]/area_df["ID"]*100
area_df= area_df["Area Percentage"]
area_df

AreaName
77th Street    6.272717
Central        6.801344
Devonshire     4.069856
Foothill       3.315094
Harbor         4.120196
Hollenbeck     3.732295
Hollywood      5.266820
Mission        3.982185
N Hollywood    5.007200
Newton         5.001657
Northeast      4.300855
Olympic        5.047699
Pacific        5.828140
Rampart        4.710929
Southeast      5.056183
Southwest      5.610716
Topanga        4.084902
Van Nuys       4.225288
West LA        4.580950
West Valley    4.203342
Wilshire       4.781631
Name: Area Percentage, dtype: float64

In [37]:
# Race Percentages
race= df.groupby(["VicRace"])
race_df=race.count()
race_df= race_df[["ID"]]
race_df["Race Percentage"]=race_df["ID"]/883987*100
race_df= race_df["Race Percentage"]
race_df

VicRace
                9.929784
AANHPI          3.925171
AIAN            0.095024
Black          14.120117
Hispanic       30.514363
Multiracial     7.908148
White          20.264212
Name: Race Percentage, dtype: float64

In [39]:
# Age Percentages
age=df.groupby(["AgeGroup"])
age_df=age.count()
age_df= age_df[["ID"]]
age_df["Age Percentage"]=age_df["ID"]/883987*100
age_df= age_df["Age Percentage"]
age_df

AgeGroup
25-39          30.068315
40-54          18.844734
55-69          10.640994
Child           0.546049
Senior 70+      3.226179
Teen            2.715877
Unknown        25.050821
Young Adult     8.907031
Name: Age Percentage, dtype: float64

In [49]:
# Average Age
avgage_df=df.loc[df["VicAge"]<999]
avgage_df["VicAge"].mean()

39.57447463628666

In [40]:
# Gender Percentages
gender= df.groupby(["VicSex"])
gender_df=gender.count()
gender_df= gender_df[["ID"]]
gender_df["Gender Percentage"]=gender_df["ID"]/883987*100
gender_df= gender_df["Gender Percentage"]
gender_df

VicSex
F    36.639792
M    41.093364
Name: Gender Percentage, dtype: float64

In [46]:
# Crime Type Percentages
crime= df.groupby(["CrimeType"])
crime_df=crime.count()
crime_df= crime_df[["ID"]]
crime_df["Crime Type Percentage"]=crime_df["ID"]/883987*100
crime_df= crime_df["Crime Type Percentage"]
crime_df

CrimeType
Assault              24.025693
Driving Offense       0.054526
Fraud                 1.005332
Homicide              0.170251
Kidnapping            0.169686
Other                10.164063
Property Destruct     3.258080
Robbery               3.938293
Sex Crime             4.253343
Theft                52.594552
Weapons               0.366182
Name: Crime Type Percentage, dtype: float64

In [47]:
# Crime Location Percentages
address= df.groupby(["AddressType"])
address_df=address.count()
address_df= address_df[["ID"]]
address_df["Location Type Percentage"]=address_df["ID"]/883987*100
address_df= address_df["Location Type Percentage"]
address_df

AddressType
Buisness          14.112877
Other              7.006777
Public Space      46.016174
Public Transit     1.244702
Residential       31.619470
Name: Location Type Percentage, dtype: float64